[package]
name = "vesting-scheduling-timestamp"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
pallet-vesting = { version = "0.1", path = "../pallet-vesting", default-features = false }
vesting-schedule-linear = { version = "0.1", path = "../vesting-schedule-linear", default-features = false }

frame-support = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "master" }
num-traits = { version = "0.2", default-features = false }
serde = { version = "1", optional = true }

[features]
default = ["std"]
std = [
  "frame-support/std",
  "num-traits/std",
  "pallet-vesting/std",
  "serde",
  "vesting-schedule-linear/std",
]
