[package]
name = "precompile-evm-accounts-mapping"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
pallet-evm-accounts-mapping = { path = "../pallet-evm-accounts-mapping", default-features = false }
primitives-ethereum = { path = "../primitives-ethereum", default-features = false }

codec = { workspace = true, features = ["derive"] }
fp-evm = { workspace = true }
sp-std = { workspace = true }

[dev-dependencies]
frame-support = { workspace = true }
frame-system = { workspace = true }
hex-literal = { workspace = true }
mockall = { workspace = true }
scale-info = { workspace = true, features = ["derive"] }
sp-core = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true }

[features]
default = ["std"]
std = [
  "codec/std",
  "fp-evm/std",
  "frame-support/std",
  "frame-system/std",
  "pallet-evm-accounts-mapping/std",
  "primitives-ethereum/std",
  "scale-info/std",
  "sp-core/std",
  "sp-io/std",
  "sp-runtime/std",
  "sp-std/std",
]
