[workspace]
resolver = "2"
members = ["crates/*"]

[profile.release-lto]
inherits = "release"
lto = "thin"

[patch."https://github.com/paritytech/substrate"]
frame-benchmarking = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
frame-support = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
frame-system = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
pallet-balances = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
pallet-timestamp = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sc-block-builder = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sc-client-api = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sc-client-db = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sc-consensus = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sc-network = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sc-rpc = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sc-service = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sc-transaction-pool = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sc-transaction-pool-api = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-api = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-block-builder = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-blockchain = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-consensus = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-core = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-database = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-debug-derive = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-externalities = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-inherents = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-io = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-runtime = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-std = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-storage = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-timestamp = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-transaction-pool = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
substrate-prometheus-endpoint = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
