[workspace]
resolver = "2"
members = ["crates/*"]

[patch."https://github.com/paritytech/substrate"]
 frame-benchmarking = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 frame-support = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 frame-system = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 pallet-balances = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 pallet-timestamp = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sc-client-api = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sc-network = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sc-rpc = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sc-service = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sc-transaction-pool = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sc-transaction-pool-api = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sp-api = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sp-blockchain = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sp-core = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sp-externalities = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sp-inherents = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sp-io = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sp-runtime = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sp-std = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sp-storage = { git = "https://github.com/humanode-network/substrate", branch = "master" }
 sp-transaction-pool = { git = "https://github.com/humanode-network/substrate", branch = "master" }
