[graph]
targets = [
  # Host.
  { triple = "x86_64-unknown-linux-gnu", features = ["std"] },
  { triple = "x86_64-apple-darwin", features = ["std"] },
  { triple = "aarch64-unknown-linux-gnu", features = ["std"] },
  { triple = "aarch64-apple-darwin", features = ["std"] },
  # Runtime.
  { triple = "wasm32-unknown-unknown" },
]
all-features = false
no-default-features = true

[output]
feature-depth = 1

[advisories]
unmaintained = "workspace"
yanked = "allow"
ignore = [
  # TODO(#1118): update the curve25519-dalek internal dependency to 4.1.3+
  "RUSTSEC-2024-0344",
  # TODO(#723): update the ed25519-dalek 1 internal dependency to 2.0.0+
  "RUSTSEC-2022-0093",
  # TODO(#1013): vulnerable rustls.
  "RUSTSEC-2024-0336",
  # TODO(#1197): update the sqlx internal dependency to 0.8.1+
  "RUSTSEC-2024-0363",
  # TODO(#1361): update the idna internal dependency to 1.0.0+
  "RUSTSEC-2024-0421",
  # TODO(#1478): update the ring internal dependency to 0.17.12+
  "RUSTSEC-2025-0009",
  # TODO(#1541): update the wasmtime internal dependency to 24.0.2+
  "RUSTSEC-2023-0091",
  # TODO(#1542): update the wasmtime internal dependency to 24.0.2+
  "RUSTSEC-2024-0438",
  # TODO(#1612): update the tracing-subscriber internal dependency to 0.3.20+
  "RUSTSEC-2025-0055",
  # TODO(#1648): update the wasmtime internal dependency to 24.0.5+
  "RUSTSEC-2025-0118",
]

[licenses]
allow = [
  "MIT",
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "ISC",
  "0BSD",
  "CC0-1.0",
  "Unlicense",

  # To review:
  "MPL-2.0",
  "GPL-3.0 WITH Classpath-exception-2.0",
  "OpenSSL",
]
confidence-threshold = 0.8

[[licenses.exceptions]]
allow = ["Unicode-DFS-2016"]
name = "unicode-ident"
version = "*"

[[licenses.clarify]]
name = "ring"
version = "*"
expression = "MIT AND ISC AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]

[licenses.private]
ignore = true

[bans]
multiple-versions = "allow"
wildcards = "allow"
highlight = "all"
workspace-default-features = "allow"
external-default-features = "allow"
allow = []

features = []
skip = []
skip-tree = []

[[bans.deny]]
name = "serde_derive"
version = "> 1.0.171, < 1.0.184"
reason = "Avoid using precompiled serde_derive."

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = ["https://github.com/rust-blockchain/evm"]

[sources.allow-org]
github = ["humanode-network"]
gitlab = []
bitbucket = []
