targets = [
  # Host.
  { triple = "x86_64-unknown-linux-gnu", features = ["std"] },
  { triple = "x86_64-apple-darwin", features = ["std"] },
  { triple = "aarch64-unknown-linux-gnu", features = ["std"] },
  { triple = "aarch64-apple-darwin", features = ["std"] },
  # Runtime.
  { triple = "wasm32-unknown-unknown" },
]
all-features = false
no-default-features = true
feature-depth = 1

[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
vulnerability = "deny"
unmaintained = "warn"
yanked = "warn"
notice = "warn"
ignore = [
  # Root cause: tempfile v3.3.0 (used by substrate/polkadot-v0.9.38, warp/v0.3.3, reqwest/v0.11.14).
  #
  # The vulnerability is in usage of vulnerable remove_dir_all library (v0.5.3).
  # Waiting the new release of tempfile as current master branch doesn't depend on remove_dir_all library already.
  "RUSTSEC-2023-0018",
  # Root cause: chrono v0.4.23 (dependency of substrate/polkadot-v0.9.38).
  #
  # The vulnerability is in usage of vulnerable time library (v0.1.45).
  # Waiting the new release of chrono as current main branch doesn't depend on time library already.
  "RUSTSEC-2020-0071",
]

[licenses]
unlicensed = "deny"
allow = [
  "MIT",
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "ISC",
  "0BSD",
  "CC0-1.0",
  "Unlicense",

  # To review:
  "MPL-2.0",
  "GPL-3.0 WITH Classpath-exception-2.0",
  "OpenSSL",
]
deny = []
copyleft = "allow"
allow-osi-fsf-free = "neither"
default = "deny"
confidence-threshold = 0.8
exceptions = [{ allow = ["Unicode-DFS-2016"], name = "unicode-ident", version = "*" }]

[[licenses.clarify]]
name = "ring"
version = "*"
expression = "MIT AND ISC AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]

[licenses.private]
ignore = true

[bans]
multiple-versions = "warn"
wildcards = "allow"
highlight = "all"
workspace-default-features = "allow"
external-default-features = "allow"
allow = []
deny = []
features = []

skip = []
skip-tree = []

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []

[sources.allow-org]
github = ["humanode-network"]
gitlab = []
bitbucket = []
