[package]
name = "pallet-evm-accounts-mapping"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
primitives-ethereum = { version = "0.1", path = "../primitives-ethereum", default-features = false }

codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
frame-support = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
frame-system = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
sp-core = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }

[dev-dependencies]
mockall = "0.11"
sp-runtime = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }


[features]
default = ["std"]
std = ["primitives-ethereum/std", "codec/std", "frame-support/std", "frame-system/std", "scale-info/std", "sp-core/std"]
try-runtime = ["frame-support/try-runtime", "frame-system/try-runtime"]
