[package]
name = "pallet-token-claims"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
primitives-ethereum = { path = "../primitives-ethereum", default-features = false }

codec = { workspace = true, package = "parity-scale-codec", features = ["derive"] }
frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
scale-info = { workspace = true, features = ["derive"] }
serde = { workspace = true, optional = true }

[dev-dependencies]
pallet-pot = { path = "../pallet-pot" }

mockall = { workspace = true }
pallet-balances = { workspace = true }
serde_json = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }

[features]
default = ["std"]
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
]
std = [
  "codec/std",
  "frame-benchmarking/std",
  "frame-support/std",
  "frame-system/std",
  "primitives-ethereum/std",
  "scale-info/std",
  "serde",
]
try-runtime = [
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "pallet-balances/try-runtime",
  "pallet-pot/try-runtime",
  "sp-runtime/try-runtime",
]
