[package]
name = "pallet-token-claims"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
primitives-ethereum = { version = "0.1", path = "../primitives-ethereum", default-features = false }

codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
frame-benchmarking = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", optional = true }
frame-support = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
frame-system = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
serde = { version = "1", optional = true }

[dev-dependencies]
pallet-pot = { version = "0.1", path = "../pallet-pot" }

mockall = "0.11"
once_cell = "1"
pallet-balances = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
serde_json = "1"
sp-core = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sp-runtime = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }

[features]
default = ["std"]
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
]
std = [
  "codec/std",
  "frame-benchmarking/std",
  "frame-support/std",
  "frame-system/std",
  "primitives-ethereum/std",
  "scale-info/std",
  "serde",
]
