[package]
name = "precompile-utils"
authors = ["PureStake"]
description = "Utils to write EVM precompiles."
edition = "2021"
version = "0.1.0"
publish = false

[dependencies]
impl-trait-for-tuples = "0.2.2"
log = "0.4"
num_enum = { version = "0.5.3", default-features = false }
sha3 = { version = "0.9", default-features = false }
similar-asserts = { version = "1.1.0", optional = true }

precompile-utils-macro = { path = "macro" }

# Substrate
codec = { package = "parity-scale-codec", version = "3.2.2", default-features = false }
frame-support = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38", default-features = false }
frame-system = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38", default-features = false }
sp-core = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38", default-features = false }
sp-io = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38", default-features = false }
sp-std = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38", default-features = false }

# Frontier
evm = { git = "https://github.com/rust-blockchain/evm", branch = "master", default-features = false, features = [
  "with-codec",
] }
fp-evm = { git = "https://github.com/humanode-network/frontier", branch = "locked/polkadot-v0.9.38", default-features = false }
pallet-evm = { git = "https://github.com/humanode-network/frontier", branch = "locked/polkadot-v0.9.38", default-features = false }

[dev-dependencies]
hex-literal = "0.3.1"

[features]
default = ["std"]
std = [
  "codec/std",
  "evm/std",
  "fp-evm/std",
  "frame-support/std",
  "frame-system/std",
  "log/std",
  "num_enum/std",
  "pallet-evm/std",
  "sha3/std",
  "sp-core/std",
  "sp-io/std",
  "sp-std/std",
]
testing = ["similar-asserts", "std"]
