[package]
name = "precompile-bioauth"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
pallet-bioauth = { version = "0.1", path = "../pallet-bioauth", default-features = false }

codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
fp-evm = { git = "https://github.com/humanode-network/frontier", branch = "substrate-9251791", default-features = false }
frame-support = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "master" }
frame-system = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "master" }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
serde = { version = "1", features = ["derive"], optional = true }
sp-runtime = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-std = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "master" }

[dev-dependencies]
mockall = "0.10"
primitive-types = "0.11"
sp-core = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-io = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "master" }

[features]
default = ["std"]
std = [
  "serde",
  "codec/std",
  "fp-evm/std",
  "scale-info/std",
  "frame-support/std",
  "frame-system/std",
  "sp-std/std",
  "sp-runtime/std",
  "pallet-bioauth/std",
]
