[package]
name = "robonode-crypto"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
ed25519-dalek = { workspace = true, features = ["rand", "u64_backend"] }

[dev-dependencies]
hex-literal = { workspace = true }
rand = { workspace = true }

[features]
default = ["std"]
std = ["ed25519-dalek/std"]
