[package]
name = "pallet-dummy-precompiles-code"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
codec = { workspace = true, features = ["derive"] }
frame-support = { workspace = true }
frame-system = { workspace = true }
pallet-evm = { workspace = true }
scale-info = { workspace = true, features = ["derive"] }
sp-core = { workspace = true }

[dev-dependencies]
fp-evm = { workspace = true }
hex-literal = { workspace = true }
pallet-balances = { workspace = true, features = ["default"] }
pallet-evm-balances = { workspace = true, features = ["default"] }
pallet-evm-system = { workspace = true, features = ["default"] }
pallet-timestamp = { workspace = true, features = ["default"] }

[features]
default = ["std"]
std = [
  "codec/std",
  "fp-evm/std",
  "frame-support/std",
  "frame-system/std",
  "pallet-balances/std",
  "pallet-evm-balances/std",
  "pallet-evm-system/std",
  "pallet-evm/std",
  "pallet-timestamp/std",
  "scale-info/std",
  "sp-core/std",
]
try-runtime = [
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "pallet-balances/try-runtime",
  "pallet-evm-balances/try-runtime",
  "pallet-evm-system/try-runtime",
  "pallet-evm/try-runtime",
  "pallet-timestamp/try-runtime",
]
