[package]
name = "pallet-chain-start-moment"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
frame-support = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
frame-system = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }

[dev-dependencies]
pallet-timestamp = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }
sp-core = { git = "https://github.com/humanode-network/substrate", branch = "polkadot-v0.9.36" }

[features]
default = ["std"]
std = ["codec/std", "scale-info/std", "frame-support/std", "frame-system/std"]
try-runtime = ["frame-support/try-runtime", "frame-system/try-runtime", "pallet-timestamp/try-runtime"]
