[package]
name = "humanode-peer"
version = "0.1.0"
edition = "2021"
publish = false
authors = ["Humanode Core"]

# Run the peer by default.
default-run = "humanode-peer"

[dependencies]
bioauth-flow-rpc = { version = "0.1", path = "../bioauth-flow-rpc" }
bioauth-keys = { version = "0.1", path = "../bioauth-keys" }
humanode-rpc = { version = "0.1", path = "../humanode-rpc" }
humanode-runtime = { version = "0.1", path = "../humanode-runtime" }
keystore-bioauth-account-id = { version = "0.1", path = "../keystore-bioauth-account-id" }
ngrok-api = { version = "0.1", path = "../ngrok-api" }
pallet-bioauth = { version = "0.1", path = "../pallet-bioauth" }
robonode-client = { version = "0.1", path = "../robonode-client" }

anyhow = "1"
async-trait = "0.1"
clap = { version = "3.1.6", features = ["derive"] }
codec = { package = "parity-scale-codec", version = "3.0.0" }
fc-consensus = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/humanode-2022-06-01" }
fc-db = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/humanode-2022-06-01" }
fc-mapping-sync = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/humanode-2022-06-01" }
fc-rpc = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/humanode-2022-06-01" }
fc-rpc-core = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/humanode-2022-06-01" }
fdlimit = "0.2"
fp-evm = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/humanode-2022-06-01" }
frame-benchmarking = { git = "https://github.com/humanode-network/substrate", branch = "master", optional = true }
frame-benchmarking-cli = { git = "https://github.com/humanode-network/substrate", branch = "master" }
futures = "0.3"
hex = "0.4.3"
hex-literal = "0.3"
libsecp256k1 = "0.6"
pallet-dynamic-fee = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/humanode-2022-06-01" }
pallet-im-online = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "master" }
qr2term = "0.2"
reqwest = "0.11"
sc-basic-authorship = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-chain-spec = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-chain-spec-derive = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-cli = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-client-api = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-consensus = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-consensus-babe = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-executor = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-finality-grandpa = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-network = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-rpc = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-service = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-telemetry = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-tracing = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-transaction-pool = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-utils = { git = "https://github.com/humanode-network/substrate", branch = "master" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha3 = "0.10"
sp-application-crypto = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-consensus = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-consensus-babe = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-core = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-finality-grandpa = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-inherents = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-keystore = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-panic-handler = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-runtime = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-timestamp = { git = "https://github.com/humanode-network/substrate", branch = "master" }
thiserror = "1"
tiny-bip39 = "0.8"
tiny-hderive = "0.3.0"
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
try-runtime-cli = { git = "https://github.com/humanode-network/substrate", branch = "master", optional = true }
url = "2"

[dev-dependencies]
indoc = "1.0"

[build-dependencies]
vergen = { version = "7", default-features = false, features = ["cargo", "git"] }

[features]
default = ["wasmtime"]
runtime-benchmarks = ["wasmtime", "humanode-runtime/runtime-benchmarks", "frame-benchmarking/runtime-benchmarks"]
try-runtime = ["humanode-runtime/try-runtime", "try-runtime-cli"]
wasmtime = ["sc-cli/wasmtime", "sc-executor/wasmtime", "sc-service/wasmtime"]
