[package]
name = "humanode-peer"
version = "0.1.0"
edition = "2021"
publish = false
authors = ["Humanode Core"]

# Run the peer by default.
default-run = "humanode-peer"

[dependencies]
bioauth-flow-rpc = { version = "0.1", path = "../bioauth-flow-rpc" }
bioauth-keys = { version = "0.1", path = "../bioauth-keys" }
crypto-utils = { version = "0.1", path = "../crypto-utils" }
humanode-rpc = { version = "0.1", path = "../humanode-rpc" }
humanode-runtime = { version = "0.1", path = "../humanode-runtime" }
keystore-bioauth-account-id = { version = "0.1", path = "../keystore-bioauth-account-id" }
ngrok-api = { version = "0.1", path = "../ngrok-api" }
pallet-bioauth = { version = "0.1", path = "../pallet-bioauth" }
pallet-token-claims = { version = "0.1", path = "../pallet-token-claims" }
robonode-client = { version = "0.1", path = "../robonode-client" }

anyhow = "1"
async-trait = "0.1"
bip32 = "0.5.0"
clap = { version = "4.1", features = ["derive"] }
codec = { package = "parity-scale-codec", version = "3.2.2" }
fc-cli = { git = "https://github.com/humanode-network/frontier", branch = "frame-evm-balances" }
fc-consensus = { git = "https://github.com/humanode-network/frontier", branch = "frame-evm-balances" }
fc-db = { git = "https://github.com/humanode-network/frontier", branch = "frame-evm-balances" }
fc-mapping-sync = { git = "https://github.com/humanode-network/frontier", branch = "frame-evm-balances" }
fc-rpc = { git = "https://github.com/humanode-network/frontier", branch = "frame-evm-balances" }
fc-rpc-core = { git = "https://github.com/humanode-network/frontier", branch = "frame-evm-balances" }
fc-storage = { git = "https://github.com/humanode-network/frontier", branch = "frame-evm-balances" }
fdlimit = "0.2"
fp-evm = { git = "https://github.com/humanode-network/frontier", branch = "frame-evm-balances" }
frame-benchmarking = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38", optional = true }
frame-benchmarking-cli = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
frame-support = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
frame-system = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
frame-system-rpc-runtime-api = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
futures = "0.3"
hex = "0.4.3"
hex-literal = "0.4"
libsecp256k1 = "0.7"
pallet-balances = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
pallet-dynamic-fee = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "frame-evm-balances" }
pallet-im-online = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
pallet-transaction-payment = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
qr2term = "0.3"
reqwest = "0.11"
sc-basic-authorship = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sc-chain-spec = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sc-chain-spec-derive = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sc-cli = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sc-client-api = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sc-consensus = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sc-consensus-babe = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sc-executor = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sc-finality-grandpa = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sc-network = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sc-rpc = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sc-service = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sc-telemetry = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sc-tracing = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sc-transaction-pool = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sc-utils = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha3 = "0.10"
sp-api = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-application-crypto = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-consensus = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-consensus-babe = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-core = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-finality-grandpa = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-inherents = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-io = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-keyring = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-keystore = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-panic-handler = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-runtime = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-timestamp = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
thiserror = "1"
tiny-bip39 = "1.0"
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
try-runtime-cli = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38", optional = true }
url = "2"

[dev-dependencies]
indoc = "2.0"
sp-io = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }

[build-dependencies]
vergen = { version = "8", default-features = false, features = ["cargo", "git", "gitcl"] }

[features]
default = []
runtime-benchmarks = [
  "frame-benchmarking-cli/runtime-benchmarks",
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "humanode-runtime/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "pallet-bioauth/runtime-benchmarks",
  "pallet-im-online/runtime-benchmarks",
  "pallet-token-claims/runtime-benchmarks",
  "sc-service/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
]
try-runtime = [
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "humanode-runtime/try-runtime",
  "pallet-balances/try-runtime",
  "pallet-bioauth/try-runtime",
  "pallet-dynamic-fee/try-runtime",
  "pallet-im-online/try-runtime",
  "pallet-transaction-payment/try-runtime",
  "pallet-token-claims/try-runtime",
  "sp-runtime/try-runtime",
  "try-runtime-cli/try-runtime",
]
