[package]
name = "humanode-peer"
version = "0.1.0"
edition = "2021"
publish = false
authors = ["Humanode Core"]

# Run the peer by default.
default-run = "humanode-peer"

[dependencies]
bioauth-flow-rpc = { version = "0.1", path = "../bioauth-flow-rpc" }
bioauth-keys = { version = "0.1", path = "../bioauth-keys" }
crypto-utils = { version = "0.1", path = "../crypto-utils" }
humanode-rpc = { version = "0.1", path = "../humanode-rpc" }
humanode-runtime = { version = "0.1", path = "../humanode-runtime" }
keystore-bioauth-account-id = { version = "0.1", path = "../keystore-bioauth-account-id" }
ngrok-api = { version = "0.1", path = "../ngrok-api" }
pallet-bioauth = { version = "0.1", path = "../pallet-bioauth" }
robonode-client = { version = "0.1", path = "../robonode-client" }

anyhow = "1"
async-trait = "0.1"
clap = { version = "3.2", features = ["derive"] }
codec = { package = "parity-scale-codec", version = "3.0.0" }
fc-cli = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "polkadot-v0.9.32" }
fc-consensus = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "polkadot-v0.9.32" }
fc-db = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "polkadot-v0.9.32" }
fc-mapping-sync = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "polkadot-v0.9.32" }
fc-rpc = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "polkadot-v0.9.32" }
fc-rpc-core = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "polkadot-v0.9.32" }
fdlimit = "0.2"
fp-evm = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "polkadot-v0.9.32" }
frame-benchmarking = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", optional = true }
frame-benchmarking-cli = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
frame-support = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
futures = "0.3"
hex = "0.4.3"
hex-literal = "0.3"
libsecp256k1 = "0.6"
pallet-dynamic-fee = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "polkadot-v0.9.32" }
pallet-im-online = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
qr2term = "0.2"
reqwest = "0.11"
sc-basic-authorship = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-chain-spec = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-chain-spec-derive = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-cli = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-client-api = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-consensus = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-consensus-babe = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-consensus-uncles = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-executor = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-finality-grandpa = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-network = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-rpc = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-service = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-telemetry = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-tracing = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-transaction-pool = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sc-utils = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha3 = "0.10"
sp-application-crypto = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sp-authorship = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sp-consensus = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sp-consensus-babe = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sp-core = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sp-finality-grandpa = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sp-inherents = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sp-keystore = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sp-panic-handler = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sp-runtime = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
sp-timestamp = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }
thiserror = "1"
tiny-bip39 = "0.8"
tiny-hderive = "0.3.0"
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
try-runtime-cli = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", optional = true }
url = "2"

[dev-dependencies]
indoc = "1.0"
sp-io = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }

[build-dependencies]
vergen = { version = "7", default-features = false, features = ["cargo", "git"] }

[features]
default = ["wasmtime"]
runtime-benchmarks = [
  "frame-benchmarking-cli/runtime-benchmarks",
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "humanode-runtime/runtime-benchmarks",
  "pallet-bioauth/runtime-benchmarks",
  "pallet-im-online/runtime-benchmarks",
  "sc-service/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "wasmtime",
]
try-runtime = [
  "frame-support/try-runtime",
  "humanode-runtime/try-runtime",
  "pallet-bioauth/try-runtime",
  "pallet-im-online/try-runtime",
  "try-runtime-cli",
]
wasmtime = ["sc-cli/wasmtime", "sc-executor/wasmtime", "sc-service/wasmtime"]
