[package]
name = "humanode-peer"
version = "0.1.0"
edition = "2021"
publish = false

# Run the peer by default.
default-run = "humanode-peer"

[dependencies]
bioauth-consensus = { version = "0.1", path = "../bioauth-consensus", features = [
  "all",
] }
bioauth-flow = { version = "0.1", path = "../bioauth-flow" }
humanode-rpc = { version = "0.1", path = "../humanode-rpc" }
humanode-runtime = { version = "0.1", path = "../humanode-runtime" }
ngrok-api = { version = "0.1", path = "../ngrok-api" }
pallet-bioauth = { version = "0.1", path = "../pallet-bioauth" }
robonode-client = { version = "0.1", path = "../robonode-client" }

anyhow = "1"
async-trait = "0.1"
codec = { package = "parity-scale-codec", version = "2.0.0" }
fdlimit = "0.2"
frame-benchmarking-cli = { git = "https://github.com/humanode-network/substrate", branch = "master" }
futures = "0.3"
hex = "0.4.3"
hex-literal = "0.3"
qr2term = "0.2"
reqwest = "0.11"
sc-basic-authorship = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-chain-spec = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-chain-spec-derive = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-cli = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-client-api = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-consensus = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-consensus-aura = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-executor = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-finality-grandpa = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-network = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-service = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-telemetry = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-tracing = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-transaction-pool = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sc-utils = { git = "https://github.com/humanode-network/substrate", branch = "master" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sp-application-crypto = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-consensus = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-consensus-aura = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-finality-grandpa = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-keystore = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-panic-handler = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-runtime = { git = "https://github.com/humanode-network/substrate", branch = "master" }
sp-timestamp = { git = "https://github.com/humanode-network/substrate", branch = "master" }
structopt = "0.3.8"
thiserror = "1"
tiny-bip39 = "0.8"
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
url = "2"

[dev-dependencies]
indoc = "1.0"
