[package]
name = "robonode-server"
version = "0.1.0"
edition = "2018"
authors = ["Humanode Team <core@humanode.io>"]
publish = false

[dependencies]
facetec-api-client = { version = "0.1", path = "../facetec-api-client" }
primitives-auth-ticket = { version = "0.1", path = "../primitives-auth-ticket" }
primitives-liveness-data = { version = "0.1", path = "../primitives-liveness-data" }
robonode-crypto = { version = "0.1", path = "../robonode-crypto" }

async-trait = "0.1"
hex = "0.4"
rand = "0.7"
reqwest = "0.11"
sc-tracing = "3"
serde = { version = "1", features = ["derive"] }
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
uuid = { version = "0.8", features = ["v4"] }
warp = "0.3"
