[package]
name = "robonode-server"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
facetec-api-client = { path = "../facetec-api-client" }
primitives-auth-ticket = { path = "../primitives-auth-ticket" }
primitives-liveness-data = { path = "../primitives-liveness-data" }
robonode-crypto = { path = "../robonode-crypto" }

async-trait = { workspace = true }
hex = { workspace = true }
reqwest = { workspace = true, features = ["default"] }
sc-tracing = { workspace = true }
serde = { workspace = true, features = ["derive"] }
sp-core = { workspace = true }
tokio = { workspace = true, features = ["full"] }
tracing = { workspace = true }
uuid = { workspace = true, features = ["v4"] }
warp = { workspace = true, features = ["default"] }

[dev-dependencies]
codec = { workspace = true }
mockall = { workspace = true }
serde_json = { workspace = true }
tracing-test = { workspace = true }
