[package]
name = "vesting-schedule-linear"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = [
  "derive",
  "max-encoded-len",
] }
num-traits = { version = "0.2", default-features = false }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
serde = { version = "1", features = ["derive"], optional = true }
thiserror = "1"

[dev-dependencies]
num = "0.4"
serde_json = "1"

[features]
default = ["std"]
std = [
  "codec/std",
  "num-traits/std",
  "serde",
]
