[package]
name = "vesting-schedule-linear"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
codec = { workspace = true, features = ["derive", "max-encoded-len"] }
num-traits = { workspace = true }
scale-info = { workspace = true, features = ["derive"] }
serde = { workspace = true, features = ["derive"], optional = true }

[dev-dependencies]
num = { workspace = true, features = ["default"] }
serde_json = { workspace = true }

[features]
default = ["std"]
std = ["codec/std", "num/std", "num-traits/std", "scale-info/std", "serde/std", "serde_json/std"]
