[package]
name = "humanode-runtime"
version = "0.1.0"
edition = "2021"
publish = false

[build-dependencies]
substrate-wasm-builder = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38", optional = true }

[dependencies]
author-ext-api = { version = "0.1", path = "../author-ext-api", default-features = false }
bioauth-flow-api = { version = "0.1", path = "../bioauth-flow-api", default-features = false }
bridge-pot-currency-swap = { version = "0.1", path = "../bridge-pot-currency-swap", default-features = false }
eip191-crypto = { version = "0.1", path = "../eip191-crypto", default-features = false }
eip191-token-claim = { version = "0.1", path = "../eip191-token-claim", default-features = false }
eip712-account-claim = { version = "0.1", path = "../eip712-account-claim", default-features = false }
eip712-common = { version = "0.1", path = "../eip712-common", default-features = false }
eip712-token-claim = { version = "0.1", path = "../eip712-token-claim", default-features = false }
keystore-bioauth-account-id = { version = "0.1", path = "../keystore-bioauth-account-id", default-features = false }
pallet-bioauth = { version = "0.1", path = "../pallet-bioauth", default-features = false }
pallet-bootnodes = { version = "0.1", path = "../pallet-bootnodes", default-features = false }
pallet-chain-properties = { version = "0.1", path = "../pallet-chain-properties", default-features = false }
pallet-chain-start-moment = { version = "0.1", path = "../pallet-chain-start-moment", default-features = false }
pallet-currency-swap = { version = "0.1", path = "../pallet-currency-swap", default-features = false }
pallet-ethereum-chain-id = { version = "0.1", path = "../pallet-ethereum-chain-id", default-features = false }
pallet-evm-accounts-mapping = { version = "0.1", path = "../pallet-evm-accounts-mapping", default-features = false }
pallet-humanode-session = { version = "0.1", path = "../pallet-humanode-session", default-features = false }
pallet-pot = { version = "0.1", path = "../pallet-pot", default-features = false }
pallet-token-claims = { version = "0.1", path = "../pallet-token-claims", default-features = false }
pallet-vesting = { version = "0.1", path = "../pallet-vesting", default-features = false }
precompile-bioauth = { version = "0.1", path = "../precompile-bioauth", default-features = false }
precompile-currency-swap = { version = "0.1", path = "../precompile-currency-swap", default-features = false }
precompile-evm-accounts-mapping = { version = "0.1", path = "../precompile-evm-accounts-mapping", default-features = false }
primitives-auth-ticket = { version = "0.1", path = "../primitives-auth-ticket", default-features = false }
primitives-currency-swap-proxy = { version = "0.1", path = "../primitives-currency-swap-proxy", default-features = false }
primitives-ethereum = { version = "0.1", path = "../primitives-ethereum", default-features = false }
robonode-crypto = { version = "0.1", path = "../robonode-crypto", default-features = false }
vesting-schedule-linear = { version = "0.1", path = "../vesting-schedule-linear", default-features = false }
vesting-scheduling-timestamp = { version = "0.1", path = "../vesting-scheduling-timestamp", default-features = false }

chrono = { version = "0.4.24", default-features = false }
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
fp-evm = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/polkadot-v0.9.38" }
fp-rpc = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/polkadot-v0.9.38" }
fp-self-contained = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/polkadot-v0.9.38" }
frame-benchmarking = { default-features = false, optional = true, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
frame-executive = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
frame-support = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
frame-system = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
frame-system-benchmarking = { default-features = false, optional = true, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
frame-system-rpc-runtime-api = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
frame-try-runtime = { default-features = false, optional = true, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
hex-literal = { version = "0.4", optional = true }
libsecp256k1 = { version = "0.7", default-features = false }
pallet-authorship = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
pallet-babe = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
pallet-balances = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
pallet-base-fee = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/polkadot-v0.9.38" }
pallet-dynamic-fee = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/polkadot-v0.9.38" }
pallet-ethereum = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/polkadot-v0.9.38" }
pallet-evm = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/polkadot-v0.9.38" }
pallet-evm-balances = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/polkadot-v0.9.38" }
pallet-evm-precompile-modexp = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/polkadot-v0.9.38" }
pallet-evm-precompile-sha3fips = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/polkadot-v0.9.38" }
pallet-evm-precompile-simple = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/polkadot-v0.9.38" }
pallet-evm-system = { default-features = false, git = "https://github.com/humanode-network/frontier", branch = "locked/polkadot-v0.9.38" }
pallet-grandpa = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
pallet-im-online = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
pallet-multisig = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
pallet-offences = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
pallet-session = { default-features = false, features = [
  "historical",
], git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
pallet-sudo = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
pallet-timestamp = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
pallet-transaction-payment = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
pallet-transaction-payment-rpc-runtime-api = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
pallet-utility = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
scale-info = { version = "2.5.0", default-features = false, features = ["derive"] }
serde = { version = "1", features = ["derive"], optional = true }
sp-api = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-application-crypto = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-block-builder = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-consensus-babe = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-core = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-inherents = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-offchain = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-runtime = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-session = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-staking = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-std = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-tracing = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-transaction-pool = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-version = { default-features = false, git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
static_assertions = { version = "1.1.0", default-features = false }

[dev-dependencies]
crypto-utils = { version = "0.1", path = "../crypto-utils" }
eip712-common-test-utils = { version = "0.1", path = "../eip712-common-test-utils" }
precompile-utils = { path = "../precompile-utils", default-features = false }

ethereum = "0.14"
hex = "0.4"
hex-literal = "0.4"
serde_json = "1"
sp-io = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }
sp-keystore = { git = "https://github.com/humanode-network/substrate", branch = "locked/polkadot-v0.9.38" }

[features]
default = ["std"]
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system-benchmarking/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "hex-literal",
  "libsecp256k1/hmac",
  "libsecp256k1/static-context",
  "pallet-babe/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "pallet-bioauth/runtime-benchmarks",
  "pallet-bootnodes/runtime-benchmarks",
  "pallet-currency-swap/runtime-benchmarks",
  "pallet-ethereum/runtime-benchmarks",
  "pallet-evm-accounts-mapping/runtime-benchmarks",
  "pallet-evm/runtime-benchmarks",
  "pallet-grandpa/runtime-benchmarks",
  "pallet-im-online/runtime-benchmarks",
  "pallet-multisig/runtime-benchmarks",
  "pallet-offences/runtime-benchmarks",
  "pallet-timestamp/runtime-benchmarks",
  "pallet-token-claims/runtime-benchmarks",
  "pallet-utility/runtime-benchmarks",
  "pallet-vesting/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "sp-staking/runtime-benchmarks",
]
std = [
  "author-ext-api/std",
  "bioauth-flow-api/std",
  "bridge-pot-currency-swap/std",
  "chrono/std",
  "codec/std",
  "eip191-crypto/std",
  "eip191-token-claim/std",
  "eip712-account-claim/std",
  "eip712-common/std",
  "eip712-token-claim/std",
  "fp-evm/std",
  "fp-rpc/std",
  "fp-self-contained/std",
  "frame-executive/std",
  "frame-support/std",
  "frame-system-rpc-runtime-api/std",
  "frame-system/std",
  "frame-try-runtime/std",
  "keystore-bioauth-account-id/std",
  "libsecp256k1/std",
  "pallet-authorship/std",
  "pallet-babe/std",
  "pallet-balances/std",
  "pallet-base-fee/std",
  "pallet-bioauth/std",
  "pallet-bootnodes/std",
  "pallet-chain-properties/std",
  "pallet-chain-start-moment/std",
  "pallet-currency-swap/std",
  "pallet-dynamic-fee/std",
  "pallet-ethereum-chain-id/std",
  "pallet-ethereum/std",
  "pallet-evm-accounts-mapping/std",
  "pallet-evm-precompile-modexp/std",
  "pallet-evm-precompile-sha3fips/std",
  "pallet-evm-precompile-simple/std",
  "pallet-evm/std",
  "pallet-evm-balances/std",
  "pallet-evm-system/std",
  "pallet-grandpa/std",
  "pallet-humanode-session/std",
  "pallet-im-online/std",
  "pallet-multisig/std",
  "pallet-offences/std",
  "pallet-pot/std",
  "pallet-session/std",
  "pallet-sudo/std",
  "pallet-timestamp/std",
  "pallet-token-claims/std",
  "pallet-transaction-payment-rpc-runtime-api/std",
  "pallet-transaction-payment/std",
  "pallet-utility/std",
  "pallet-vesting/std",
  "precompile-bioauth/std",
  "precompile-currency-swap/std",
  "precompile-evm-accounts-mapping/std",
  "precompile-utils/std",
  "primitives-auth-ticket/std",
  "primitives-currency-swap-proxy/std",
  "primitives-ethereum/std",
  "robonode-crypto/std",
  "scale-info/std",
  "serde",
  "sp-api/std",
  "sp-application-crypto/std",
  "sp-block-builder/std",
  "sp-consensus-babe/std",
  "sp-core/std",
  "sp-inherents/std",
  "sp-offchain/std",
  "sp-runtime/std",
  "sp-session/std",
  "sp-staking/std",
  "sp-std/std",
  "sp-tracing/std",
  "sp-transaction-pool/std",
  "sp-version/std",
  "substrate-wasm-builder",
  "vesting-schedule-linear/std",
  "vesting-scheduling-timestamp/std",
]
try-runtime = [
  "bridge-pot-currency-swap/try-runtime",
  "fp-self-contained/try-runtime",
  "frame-executive/try-runtime",
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "frame-try-runtime/try-runtime",
  "pallet-authorship/try-runtime",
  "pallet-babe/try-runtime",
  "pallet-balances/try-runtime",
  "pallet-base-fee/try-runtime",
  "pallet-bioauth/try-runtime",
  "pallet-bootnodes/try-runtime",
  "pallet-chain-properties/try-runtime",
  "pallet-chain-start-moment/try-runtime",
  "pallet-currency-swap/try-runtime",
  "pallet-dynamic-fee/try-runtime",
  "pallet-ethereum-chain-id/try-runtime",
  "pallet-ethereum/try-runtime",
  "pallet-evm-accounts-mapping/try-runtime",
  "pallet-evm/try-runtime",
  "pallet-evm-balances/try-runtime",
  "pallet-evm-system/try-runtime",
  "pallet-grandpa/try-runtime",
  "pallet-humanode-session/try-runtime",
  "pallet-im-online/try-runtime",
  "pallet-multisig/try-runtime",
  "pallet-offences/try-runtime",
  "pallet-pot/try-runtime",
  "pallet-session/try-runtime",
  "pallet-sudo/try-runtime",
  "pallet-timestamp/try-runtime",
  "pallet-token-claims/try-runtime",
  "pallet-transaction-payment/try-runtime",
  "pallet-utility/try-runtime",
  "pallet-vesting/try-runtime",
  "primitives-currency-swap-proxy/try-runtime",
  "sp-runtime/try-runtime",
]
