[package]
name = "humanode-runtime"
version = "0.1.0"
edition = "2021"
publish = false

[build-dependencies]
substrate-wasm-builder = { workspace = true, optional = true }

[dependencies]
author-ext-api = { path = "../author-ext-api", default-features = false }
bioauth-flow-api = { path = "../bioauth-flow-api", default-features = false }
bridge-pot-currency-swap = { path = "../bridge-pot-currency-swap", default-features = false }
eip191-crypto = { path = "../eip191-crypto", default-features = false }
eip191-token-claim = { path = "../eip191-token-claim", default-features = false }
eip712-account-claim = { path = "../eip712-account-claim", default-features = false }
eip712-common = { path = "../eip712-common", default-features = false }
eip712-token-claim = { path = "../eip712-token-claim", default-features = false }
evm-nonces-recovery = { path = "../evm-nonces-recovery", default-features = false }
keystore-bioauth-account-id = { path = "../keystore-bioauth-account-id", default-features = false }
pallet-balanced-currency-swap-bridges-initializer = { path = "../pallet-balanced-currency-swap-bridges-initializer", default-features = false }
pallet-bioauth = { path = "../pallet-bioauth", default-features = false }
pallet-bootnodes = { path = "../pallet-bootnodes", default-features = false }
pallet-chain-properties = { path = "../pallet-chain-properties", default-features = false }
pallet-chain-start-moment = { path = "../pallet-chain-start-moment", default-features = false }
pallet-currency-swap = { path = "../pallet-currency-swap", default-features = false }
pallet-dummy-precompiles-code = { path = "../pallet-dummy-precompiles-code", default-features = false }
pallet-erc20-support = { path = "../pallet-erc20-support", default-features = false }
pallet-ethereum-chain-id = { path = "../pallet-ethereum-chain-id", default-features = false }
pallet-evm-accounts-mapping = { path = "../pallet-evm-accounts-mapping", default-features = false }
pallet-evm-balances = { path = "../pallet-evm-balances", default-features = false }
pallet-evm-system = { path = "../pallet-evm-system", default-features = false }
pallet-humanode-offences = { path = "../pallet-humanode-offences", default-features = false }
pallet-humanode-session = { path = "../pallet-humanode-session", default-features = false }
pallet-pot = { path = "../pallet-pot", default-features = false }
pallet-token-claims = { path = "../pallet-token-claims", default-features = false }
pallet-vesting = { path = "../pallet-vesting", default-features = false }
precompile-bioauth = { path = "../precompile-bioauth", default-features = false }
precompile-bls12381 = { path = "../precompile-bls12381", default-features = false }
precompile-currency-swap = { path = "../precompile-currency-swap", default-features = false }
precompile-evm-accounts-mapping = { path = "../precompile-evm-accounts-mapping", default-features = false }
precompile-native-currency = { path = "../precompile-native-currency", default-features = false }
precompile-utils = { path = "../precompile-utils", default-features = false }
primitives-auth-ticket = { path = "../primitives-auth-ticket", default-features = false }
primitives-currency-swap-proxy = { path = "../primitives-currency-swap-proxy", default-features = false }
primitives-ethereum = { path = "../primitives-ethereum", default-features = false }
robonode-crypto = { path = "../robonode-crypto", default-features = false }
vesting-schedule-linear = { path = "../vesting-schedule-linear", default-features = false }
vesting-scheduling-timestamp = { path = "../vesting-scheduling-timestamp", default-features = false }

chrono = { workspace = true }
codec = { workspace = true, features = ["derive"] }
fp-evm = { workspace = true }
fp-rpc = { workspace = true }
fp-self-contained = { workspace = true }
frame-benchmarking = { workspace = true, optional = true }
frame-executive = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
frame-system-benchmarking = { workspace = true, optional = true }
frame-system-rpc-runtime-api = { workspace = true }
frame-try-runtime = { workspace = true, optional = true }
hex-literal = { workspace = true, optional = true }
libsecp256k1 = { workspace = true }
pallet-authorship = { workspace = true }
pallet-babe = { workspace = true }
pallet-balances = { workspace = true }
pallet-ethereum = { workspace = true }
pallet-evm = { workspace = true }
pallet-evm-precompile-blake2 = { workspace = true }
pallet-evm-precompile-bn128 = { workspace = true }
pallet-evm-precompile-modexp = { workspace = true }
pallet-evm-precompile-sha3fips = { workspace = true }
pallet-evm-precompile-simple = { workspace = true }
pallet-grandpa = { workspace = true }
pallet-im-online = { workspace = true }
pallet-multisig = { workspace = true }
pallet-session = { workspace = true, features = ["historical"] }
pallet-sudo = { workspace = true }
pallet-timestamp = { workspace = true }
pallet-transaction-payment = { workspace = true }
pallet-transaction-payment-rpc-runtime-api = { workspace = true }
pallet-utility = { workspace = true }
scale-info = { workspace = true, features = ["derive"] }
serde = { workspace = true, features = ["derive"], optional = true }
sp-api = { workspace = true }
sp-application-crypto = { workspace = true }
sp-block-builder = { workspace = true }
sp-consensus-babe = { workspace = true }
sp-core = { workspace = true }
sp-inherents = { workspace = true }
sp-offchain = { workspace = true }
sp-runtime = { workspace = true }
sp-session = { workspace = true }
sp-staking = { workspace = true }
sp-std = { workspace = true }
sp-transaction-pool = { workspace = true }
sp-version = { workspace = true }
static_assertions = { workspace = true }

[dev-dependencies]
crypto-utils = { path = "../crypto-utils" }
eip712-common-test-utils = { path = "../eip712-common-test-utils" }

ethereum = { workspace = true, features = ["default"] }
hex = { workspace = true }
hex-literal = { workspace = true }
serde_json = { workspace = true }
sp-io = { workspace = true }
sp-keystore = { workspace = true }

[features]
default = ["std"]
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system-benchmarking/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "hex-literal",
  "libsecp256k1/hmac",
  "libsecp256k1/static-context",
  "pallet-babe/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "pallet-bioauth/runtime-benchmarks",
  "pallet-bootnodes/runtime-benchmarks",
  "pallet-currency-swap/runtime-benchmarks",
  "pallet-ethereum/runtime-benchmarks",
  "pallet-evm-accounts-mapping/runtime-benchmarks",
  "pallet-evm/runtime-benchmarks",
  "pallet-grandpa/runtime-benchmarks",
  "pallet-humanode-session/runtime-benchmarks",
  "pallet-im-online/runtime-benchmarks",
  "pallet-multisig/runtime-benchmarks",
  "pallet-sudo/runtime-benchmarks",
  "pallet-timestamp/runtime-benchmarks",
  "pallet-token-claims/runtime-benchmarks",
  "pallet-utility/runtime-benchmarks",
  "pallet-vesting/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "sp-staking/runtime-benchmarks",
]
std = [
  "author-ext-api/std",
  "bioauth-flow-api/std",
  "bridge-pot-currency-swap/std",
  "chrono/std",
  "codec/std",
  "eip191-crypto/std",
  "eip191-token-claim/std",
  "eip712-account-claim/std",
  "eip712-common/std",
  "eip712-token-claim/std",
  "ethereum/std",
  "evm-nonces-recovery/std",
  "fp-evm/std",
  "fp-rpc/std",
  "fp-self-contained/std",
  "frame-executive/std",
  "frame-support/std",
  "frame-system-rpc-runtime-api/std",
  "frame-system/std",
  "frame-try-runtime/std",
  "hex/std",
  "keystore-bioauth-account-id/std",
  "libsecp256k1/std",
  "pallet-authorship/std",
  "pallet-babe/std",
  "pallet-balanced-currency-swap-bridges-initializer/std",
  "pallet-balances/std",
  "pallet-bioauth/std",
  "pallet-bootnodes/std",
  "pallet-chain-properties/std",
  "pallet-chain-start-moment/std",
  "pallet-currency-swap/std",
  "pallet-dummy-precompiles-code/std",
  "pallet-erc20-support/std",
  "pallet-ethereum-chain-id/std",
  "pallet-ethereum/std",
  "pallet-evm-accounts-mapping/std",
  "pallet-evm-precompile-blake2/std",
  "pallet-evm-precompile-bn128/std",
  "pallet-evm-precompile-modexp/std",
  "pallet-evm-precompile-sha3fips/std",
  "pallet-evm-precompile-simple/std",
  "pallet-evm/std",
  "pallet-evm-balances/std",
  "pallet-evm-system/std",
  "pallet-grandpa/std",
  "pallet-humanode-offences/std",
  "pallet-humanode-session/std",
  "pallet-im-online/std",
  "pallet-multisig/std",
  "pallet-pot/std",
  "pallet-session/std",
  "pallet-sudo/std",
  "pallet-timestamp/std",
  "pallet-token-claims/std",
  "pallet-transaction-payment-rpc-runtime-api/std",
  "pallet-transaction-payment/std",
  "pallet-utility/std",
  "pallet-vesting/std",
  "precompile-bioauth/std",
  "precompile-bls12381/std",
  "precompile-currency-swap/std",
  "precompile-evm-accounts-mapping/std",
  "precompile-native-currency/std",
  "precompile-utils/std",
  "primitives-auth-ticket/std",
  "primitives-currency-swap-proxy/std",
  "primitives-ethereum/std",
  "robonode-crypto/std",
  "scale-info/std",
  "serde/std",
  "serde_json/std",
  "sp-api/std",
  "sp-application-crypto/std",
  "sp-block-builder/std",
  "sp-consensus-babe/std",
  "sp-core/std",
  "sp-inherents/std",
  "sp-io/std",
  "sp-keystore/std",
  "sp-offchain/std",
  "sp-runtime/std",
  "sp-session/std",
  "sp-staking/std",
  "sp-std/std",
  "sp-transaction-pool/std",
  "sp-version/std",
  "substrate-wasm-builder",
  "vesting-schedule-linear/std",
  "vesting-scheduling-timestamp/std",
]
try-runtime = [
  "bridge-pot-currency-swap/try-runtime",
  "evm-nonces-recovery/try-runtime",
  "fp-self-contained/try-runtime",
  "frame-executive/try-runtime",
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "frame-try-runtime/try-runtime",
  "pallet-authorship/try-runtime",
  "pallet-babe/try-runtime",
  "pallet-balanced-currency-swap-bridges-initializer/try-runtime",
  "pallet-balances/try-runtime",
  "pallet-bioauth/try-runtime",
  "pallet-bootnodes/try-runtime",
  "pallet-chain-properties/try-runtime",
  "pallet-chain-start-moment/try-runtime",
  "pallet-currency-swap/try-runtime",
  "pallet-dummy-precompiles-code/try-runtime",
  "pallet-erc20-support/try-runtime",
  "pallet-ethereum-chain-id/try-runtime",
  "pallet-ethereum/try-runtime",
  "pallet-evm-accounts-mapping/try-runtime",
  "pallet-evm/try-runtime",
  "pallet-evm-balances/try-runtime",
  "pallet-evm-system/try-runtime",
  "pallet-grandpa/try-runtime",
  "pallet-humanode-offences/try-runtime",
  "pallet-humanode-session/try-runtime",
  "pallet-im-online/try-runtime",
  "pallet-multisig/try-runtime",
  "pallet-pot/try-runtime",
  "pallet-session/try-runtime",
  "pallet-sudo/try-runtime",
  "pallet-timestamp/try-runtime",
  "pallet-token-claims/try-runtime",
  "pallet-transaction-payment/try-runtime",
  "pallet-utility/try-runtime",
  "pallet-vesting/try-runtime",
  "primitives-currency-swap-proxy/try-runtime",
  "sp-runtime/try-runtime",
]
