[package]
name = "pallet-balanced-currency-swap-bridges-initializer"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
codec = { workspace = true, features = ["derive"] }
frame-support = { workspace = true }
frame-system = { workspace = true }
scale-info = { workspace = true, features = ["derive"] }
sp-std = { workspace = true }

[dev-dependencies]
pallet-pot = { path = "../pallet-pot", default-features = false }

frame-executive = { workspace = true }
pallet-balances = { workspace = true }
sp-core = { workspace = true }

[features]
default = ["std"]
std = [
  "codec/std",
  "frame-executive/std",
  "frame-support/std",
  "frame-system/std",
  "pallet-balances/std",
  "pallet-pot/std",
  "scale-info/std",
  "sp-core/std",
  "sp-std/std",
]
try-runtime = [
  "frame-executive/try-runtime",
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "pallet-balances/try-runtime",
  "pallet-pot/try-runtime",
]
