[package]
name = "pallet-humanode-session"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
pallet-bioauth = { path = "../pallet-bioauth", default-features = false }
pallet-bootnodes = { path = "../pallet-bootnodes", default-features = false }
pallet-fixed-validators-set = { path = "../pallet-fixed-validators-set", default-features = false }

codec = { workspace = true, features = ["derive"] }
frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
pallet-session = { workspace = true, features = ["historical"] }
scale-info = { workspace = true, features = ["derive"] }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

[dev-dependencies]
mockall = { workspace = true }
serde = { workspace = true }
sp-core = { workspace = true }

[features]
default = ["std"]
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "pallet-bioauth/runtime-benchmarks",
  "pallet-bootnodes/runtime-benchmarks",
  "pallet-fixed-validators-set/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
]
std = [
  "pallet-bioauth/std",
  "pallet-bootnodes/std",
  "pallet-fixed-validators-set/std",
  "codec/std",
  "frame-support/std",
  "frame-system/std",
  "pallet-session/std",
  "scale-info/std",
  "serde/std",
  "sp-core/std",
  "sp-runtime/std",
  "sp-std/std",
]
try-runtime = [
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "pallet-bioauth/try-runtime",
  "pallet-bootnodes/try-runtime",
  "pallet-fixed-validators-set/try-runtime",
  "pallet-session/try-runtime",
  "sp-runtime/try-runtime",
]
